//General parameters for nextflow execution:
process.executor = "slurm"
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:

//Directory for final outputs:
//dbSNP build:
params.dbsnp_build = "154"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/"
params.output_dir = "${params.output_prefix}/Archaic/ACVD_merged_dbSNP${params.dbsnp_build}"
//Globs for input archaic VCFs and masking BED files:
params.arc_vcf_glob = "${params.output_dir}/archaic_VCFs/*.vcf.gz"
params.arc_bed_glob = "${params.output_dir}/archaic_BEDs/*.bed.gz"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/prep_arc_dbSNP${params.dbsnp_build}_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      params.asm_name = "hs37d5"
      params.ref_prefix = "/gpfs/gibbs/pi/tucci/pfr8/refs"
      params.ref = "${params.ref_prefix}/1kGP/hs37d5/hs37d5.fa"
      params.NCBI_to_UCSC_map = "/gpfs/gibbs/pi/tucci/pfr8/refs/NCBI/GRCh37.p13/GCF_000001405.25_GRCh37.p13_assembly_report.txt"
      params.UCSC_to_TGP_map = "/gpfs/gibbs/pi/tucci/pfr8/refs/UCSC/hg19/g1kToUcsc_MTfixed.txt"
   }

   farnam {
      params.mod_bcftools = "bcftools/1.10.2-119-g42942b4"
      params.mod_htslib = "htslib/1.10.2-131-g0456cec"
   }

   ruddle {
      params.mod_bcftools = "bcftools/8a744dd"
      params.mod_htslib = "htslib/78441c9"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Index input archaic masking BEDs
//Memory in MiB
//Adds 256 MiB for overhead automatically
params.tabix_cpus = 1
params.tabix_mem = 256
params.tabix_timeout = '6h'
//Fix archaic VCFs (GQ header, scaffold headers, chr3 REF states, apply masks)
//Adds 1 GiB for overhead automatically
params.vcffix_cpus = 1
params.vcffix_mem = 4
params.vcffix_timeout = '12h'
//Merge fixed archaic VCFs
//Adds 1 GiB for overhead automatically
params.vcfmerge_cpus = 1
params.vcfmerge_mem = 8
params.vcfmerge_timeout = '24h'
//Generate NCBI to 1kGP scaffold mapping and scaffold compatibility BED
//Adjust dbSNP VCF to be compatible with 1kGP reference:
//Adds 1 GiB for overhead automatically
params.dbsnp_cpus = 1
params.dbsnp_mem = 16
params.dbsnp_timeout = '24h'

//Pipeline parameters only to be changed if you know what you're doing:
//Regex for parsing the name and chromosome out from the archaic VCF or BED:
params.arc_chrom_regex = ~/^(\p{Alnum}+)_chr(\p{Alnum}+)$/
//We're expecting the filenames to conform to:
//^[sample name]_chr[1-9X][0-9]?(.mask)?[.](bed|vcf)[.]gz$
